.footer {
  background-color: rgb(32, 41, 48);
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}
.contact h1 {
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  font-weight: 500;
  color: rgb(0, 186, 186);
  text-align: center;
}

.contactBox {
  margin-top: 1rem;
}
.contactBox a {
  text-decoration: none;
}
.contactBox button {
  padding: 1rem;
  font-size: 1rem;
  background: none;
  color: rgb(0, 255, 17);
  border: 1px solid rgb(0, 255, 17);
  cursor: url("https://img.icons8.com/color/48/000000/edit--v2.png"), pointer;
}

.social h1 {
  color: rgb(0, 186, 186);
  letter-spacing: 0.1rem;
  font-weight: 500;
}
.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 0 5rem;
}
.socialLinks a {
  margin-right: 1rem;
}

.socialLinks a .muiIcons {
  font-size: 3rem;
  color: aliceblue;
}

.footer p {
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  border-top: 1px solid rgb(23, 22, 22);
  padding: 0.9rem 0;
  color: aliceblue;
}
